//fade в открытом состоянии
.fade-in(@animation_duration: .5) {
  opacity: 1;
  visibility: visible;
  transition: opacity ~"@{animation_duration}s" ease;
}

//fade в закрытом состоянии
.fade-out(@animation_duration: .5) {
  opacity: 0;
  visibility: hidden;
  transition: opacity ~"@{animation_duration}s" ease, visibility 0s ~"@{animation_duration}s" linear;
}

//fade-left в открытом состоянии
.fade-in-left(@animation_duration: .5, @second_transform_value: 0) {
  opacity: 1;
  transform: translate(-100%, @second_transform_value);
  visibility: visible;
  transition: transform ~"@{animation_duration}s" ease, opacity ~"@{animation_duration}s" ease, visibility 0s ~"@{animation_duration}s" linear;
}


//fade-left в закрытом состоянии
.fade-out-left(@animation_duration: .5, @second_transform_value: 0) {
  opacity: 0;
  left: 100%;
  transform: translate(0%, @second_transform_value);
  visibility: visible;
  transition: transform ~"@{animation_duration}s" ease, opacity ~"@{animation_duration}s" ease, visibility 0s ~"@{animation_duration}s" linear;
}


//fade-right в открытом состоянии
.fade-in-right(@animation_duration: .5, @second_transform_value: 0) {
  opacity: 1;
  transform: translate(100%, @second_transform_value);
  visibility: visible;
  transition: transform ~"@{animation_duration}s" ease, opacity ~"@{animation_duration}s" ease, visibility 0s ~"@{animation_duration}s" linear;
}


//fade-right в закрытом состоянии
.fade-out-right(@animation_duration: .5, @second_transform_value: 0) {
  opacity: 0;
  right: 100%;
  transform: translate(0%, @second_transform_value);
  visibility: visible;
  transition: transform ~"@{animation_duration}s" ease, opacity ~"@{animation_duration}s" ease, visibility 0s ~"@{animation_duration}s" linear;
}

//fade-down в открытом состоянии
.fade-in-down(@animation_duration: .5, @second_transform_value: 0) {
  opacity: 1;
  transform: translate(@second_transform_value, 100%);
  visibility: visible;
  transition: transform ~"@{animation_duration}s" ease, opacity ~"@{animation_duration}s" ease, visibility 0s ~"@{animation_duration}s" linear;
}


//fade-down в закрытом состоянии
.fade-out-down(@animation_duration: .5, @second_transform_value: 0) {
  opacity: 0;
  bottom: 100%;
  transform: translate(@second_transform_value, 0%);
  visibility: visible;
  transition: transform ~"@{animation_duration}s" ease, opacity ~"@{animation_duration}s" ease, visibility 0s ~"@{animation_duration}s" linear;
}

//fade-down в открытом состоянии
.fade-in-up(@animation_duration: .5, @second_transform_value: 0) {
  opacity: 1;
  transform: translate(@second_transform_value, -100%);
  visibility: visible;
  transition: transform ~"@{animation_duration}s" ease, opacity ~"@{animation_duration}s" ease, visibility 0s ~"@{animation_duration}s" linear;
}


//fade-down в закрытом состоянии
.fade-out-up(@animation_duration: .5, @second_transform_value: 0) {
  opacity: 0;
  top: 100%;
  transform: translate(@second_transform_value, 0%);
  visibility: visible;
  transition: transform ~"@{animation_duration}s" ease, opacity ~"@{animation_duration}s" ease, visibility 0s ~"@{animation_duration}s" linear;
}

//Слайд в лево в открытом состоянии
.slide-in-left(@animation_duration: .5, @second_transform_value: 0) {
  transform: translate(-100%, @second_transform_value);
}

//Слайд лево в закрытом состоянии
.slide-out-left(@animation_duration: .5, @second_transform_value: 0) {
  left: 100%;
  transform: translate(0%, @second_transform_value);
  transition: transform ~"@{animation_duration}s" ease;
}


//Слайд в право в открытом состоянии
.slide-in-right(@animation_duration: .5, @second_transform_value: 0) {
  transform: translate(100%, @second_transform_value);
}

//Слайд право в закрытом состоянии
.slide-out-right(@animation_duration: .5, @second_transform_value: 0) {
  right: 100%;
  transform: translate(0%, @second_transform_value);
  transition: transform ~"@{animation_duration}s" ease;
}

//Слайд вниз в открытом состоянии
.slide-in-down(@second_transform_value: 0, @animation_duration: .5) {
  transform: translate(@second_transform_value, 100%);
}

//Слайд вниз в закрытом состоянии
.slide-out-down(@second_transform_value: 0, @animation_duration: .5) {
  bottom: 100%;
  transform: translate(@second_transform_value, 0%);
  transition: transform ~"@{animation_duration}s" ease;
}

//Слайд вверх в открытом состоянии
.slide-in-up(@animation_duration: .5, @second_transform_value: 0) {
  transform: translate(@second_transform_value, -100%);
}

//Слайд вверх в закрытом состоянии
.slide-out-up(@animation_duration: .5, @second_transform_value: 0) {
  top: 100%;
  transform: translate(@second_transform_value, 0%);
  transition: transform ~"@{animation_duration}s" ease;
}