.absolute-center(@axis: both, @width: 0, @height: 0) {

  & when (@axis = y) {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: (-@width / 2);
  }

  & when (@axis = x) {
    position: absolute;
    left: 50%;
    margin-left: (-@width / 2);
  }

  & when (@axis = both) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: (-@width/2);
    margin-top: (-@height/2);
  }





}

.transform-center(@axis: both, @additionalTransform: '') {

  & when (@axis = y) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ~"@{additionalTransform}";
  }

  & when (@axis = x) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ~"@{additionalTransform}";
  }

  & when (@axis = both) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ~"@{additionalTransform}";
  }

}

.flex-children-center(@axis: both) {

  & when (@axis = y) {
    margin-top: auto;
    margin-bottom: auto;
  }

  & when (@axis = x) {
    margin-left: auto;
    margin-right: auto;
  }

  & when (@axis = both) {
    margin: auto;
  }

}