//Указать значение в процентах числа a от числа b
.percent-size-from-size(@prop, @size, @parent_size, @break_point: 0) {

  //Обычный результат
  & when (@break_point = 0) {
    @{prop}: round((@size / @parent_size) * 100%, 3);
  }

  //Адаптивный результат
  & when (@break_point > 0) {

    @media (min-width:@break_point) {
      @{prop}: round((@size / @parent_size) * 100%, 3);
    }

  }

}
