.z-layout(@value: absolute, @padding: 0) {
  position: @value;
  top: @padding;
  left: @padding;
  right: @padding;
  bottom: @padding;
}

.fade-layout(@layoutColor: @first-fade-color, @value: absolute) {
  .z-layout(@value);
  background-color: @first-fade-color;
}